<div class="row">
    <div class="col-9 mt-4">
        <p class="lead">Seja bem vindo ao aplicativo de partidas de xadrez do
            Instituto de Computação. Para iniciar uma nova partida, clique na
            opção <b>Nova Partida</b> do menu superior. Essa aplicação foi
            desenvolvida para servir de modelo para o Trabalho Prático da
            disciplina Programação Web 2. Caso encontre algum problema na
            aplicação, por favor avise o prof. David Fernandes. </p>
    </div>
    <div class="col-3">
        <img src="/img/chess-clipart.png" alt="">
    </div>
</div>
<script> const board = [];</script>
<h2>Minhas partidas:</h2>
<div class="row">
    {{#each myMatches}}
    <div class="small-board">
        <a href="/match/{{this.id}}">
            <div id='board{{this.id}}'></div>
        </a>
    </div>
    <script>
    board[{{this.id}}] = Chessboard('board{{this.id}}', {
        {{#if this.fen}}
            position: '{{this.fen}}',
        {{else}}
            position: 'start',
        {{/if}}
        showNotation: false
    })
    </script>
    {{/each}}
</div>
<h2>Usuários aguardando oponentes:</h2>
<div class="row">
    {{#each waitingMatches}}
    <div class="small-board">
        <a href="/match/{{this.id}}">
            <div id='board{{this.id}}'></div>
        </a>
    </div>
    <script>
    board[{{this.id}}] = Chessboard('board{{this.id}}', {
        {{#if this.fen}}
            position: '{{this.fen}}',
        {{else}}
            position: 'start',
        {{/if}}
        showNotation: false
    })
    </script>
    {{/each}}
</div>